body {
font-size : 14px;
font-family : Arial;
color : #fff;
background : url(images/bg.jpg) #141414;
background-attachment : fixed;
margin : 0 auto;
max-width : 480px;
}
a:link, a:visited {
color : #fff;
text-decoration : none;
}
a:hover, a:active {
color : #fff;
}
img {
border : 0;
vertical-align : middle;
}
.menu img:hover, .arrow:hover {
transition : 1s;
opacity: 0.5;
}
.head {
height: 80px;
margin-top: 4px;
border: #793A11 solid 1px;
border-radius: 4px 4px 0 0;
background: #5D4B41;
background: linear-gradient(to bottom, #5D4B41, #000);
}
.logo {
display : inline-block;
background : url(images/logo.png) no-repeat;
background-position : 0 0;
width : 300px;
height : 80px;
}
.auto {
text-align : center;
padding : 14px;
background: rgba(141, 79, 0, 0.57);
}
.auto a {
color: #FFF;
font-weight: bold;
text-shadow: 1px 1px 1px #6C700F;
background: #A0907B;
background: linear-gradient(to bottom, #A0907B, #221314);
padding: 4px 14px;
border: #66461E solid 1px;
box-shadow: 0 0 16px #4D2C1F;
border-radius: 15px 15px 9px 9px;
display: inline-block;
vertical-align: middle;
padding: 10px 25px;
}
.auto a:hover {
transition: 4s;
background: #C06042;
background: linear-gradient(to bottom, #C06042, #501414);
}
.title {
padding: 12px;
border-top: #7E5F4C solid 1px;
border-bottom: #664C3B solid 1px;
background: url(images/title.png) #533F2F;
}
.stitle {
color: #FFF;
font-weight: bold;
background: #FFCA00;
background: linear-gradient(to bottom, #A0907B, #221314);
padding: 4px 14px;
border: #BE512E solid 1px;
box-shadow: 0 0 16px #FF3535;
border-radius: 10px;
}
.perv_scr {
margin : 0 auto;
border-radius : 4px;
max-width : 54px;
max-height : 54px;
vertical-align : middle;
}
.arrow-ads {
padding : 0 20px 0;
background : url(images/arrow-ads.png) no-repeat;
background-position : 0 0;
width : 16px;
height : 16px;
}
.arrow-ads:hover {
background-position : 0 -16px;
width : 16px;
height : 16px;
}
.ads {
text-shadow: 0 0 5px #7F4545, 0 0 10px #EC1616;
padding : 11px;
background: rgba(141, 79, 0, 0.57);
}
.ads a {
color : #fff;
}
.ads a:hover {
color: #D31F1F;
letter-spacing : 1px;
}
.menu {
background: rgba(93, 75, 65, 0.73);
text-align: center;

}
.menu a {
color: #94644D;
text-align: center;
width: 18%;
padding: 9px;
display: inline-table;
}
.menu img {
margin : 0 auto;
border-radius : 10px;
height : 54px;
width : 66px;
vertical-align : middle;
}
.menu a:hover {
color : #fff;
}
.link {
color: #fff;
text-shadow: 1px 1px 1px #000;
padding: 15px 12px;
border-bottom: 1px solid #6B5549;
display: block;
background: rgba(93, 75, 65, 0.73);
}
.link:hover, .list:hover, .home:hover {
background: rgba(95, 63, 22, 0.71);
}
.list {
color: #94644D;
text-shadow: 1px 1px 1px #000;
padding: 11px 8px;
border-bottom: 1px solid #6B5549;
display: block;
background: rgba(93, 75, 65, 0.73);
}
.home {
color: #94644D;
text-shadow: 1px 1px 1px #000;
padding: 15px 12px;
border-top: 1px solid #6B5549;
display: block;
background: rgba(93, 75, 65, 0.73);
}
.arrow {
display : block;
padding : 0;
padding-right : 8px;
background : url(images/arrow.png) right center no-repeat;
height : 19px;
}
.perv_scr {
margin : 0 auto;
border-radius : 5px;
height : 54px;
width : 54px;
vertical-align : middle;
border : #6B5549 solid 1px;
}
.text {
color: #94644D;
background: rgba(93, 75, 65, 0.73);
display : block;
padding : 8px;
}
.copy {
text-align : center;
padding : 5px 7px;
color : #fff;
padding : 9px 35px 9px;
border-radius : 0 0 5px 5px;
border: #793A11 solid 1px;
background : #5D4B41;
background : linear-gradient(to bottom, #5D4B41, #000);
}
.copy a {
color : #fff;
text-shadow : 1px 1px 1px #000;
}
.copy a:hover {
font-weight : bold;
}
.page {
text-align : center;
padding : 14px;
background: rgba(93, 75, 65, 0.73);
    border-top: 1px solid #6B5549;
}
.page a {
color: #E5E5E5;
background: #C07942;
background: linear-gradient(to bottom, #C07942, #61461D);
padding: 9px;
border: #4D391F solid 1px;
box-shadow: 0 0 16px #000;
border-radius: 4px;
}
.page a:hover {
background: #BD760C;
background: linear-gradient(to bottom, #BD760C, #47281E);
}
.spage {
color : #fff;
font-weight : bold;
background: #BD760C;
background: linear-gradient(to bottom, #BD760C, #47281E);
padding : 9px;
border: #4D391F solid 1px;
box-shadow: 0 0 16px rgb(0, 0, 0);
border-radius : 4px;
}
.button-load {
display : inline-block;
text-align : center;
vertical-align : middle;
padding : 8px 15px;
border : #EAEAEA solid 1px;
background : #C0A642;
background : linear-gradient(to bottom, #C0A642, #29271A);
text-shadow : 1px 1px 1px #152a72;
font : normal normal 14px tahoma;
color : #ffffff;
text-decoration : none;
}
.button-load:hover, .button-load:focus {
background : #72C3F0;
background : linear-gradient(to bottom, #72C3F0, #0063B8);
color : #ffffff;
text-decoration : none;
}
.button-load:after {
content : "";
display : inline-block;
height : 16px;
width : 16px;
margin : 0 5px -3px 7px;
position : relative;
top : 0;
left : 0;
background : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAP9JREFUOE+1kjFqAmEUhBURRHC3tBC8gWgKQdDWTvAAHsAmR0hp4x0EscslQkAMOYBia6WHEGX9RkZlRV22cOCD97+Z+auXeYuiKMrDB3SM5rztZBEuwQhmRnPJdrIUhjF8G82pPghhAr9Gc2j7sQgUoAwVqMESDkazdvKUKbh2E8sW/MAenkmeMi3X4sJoO3CEe2knr+34YxFowhru9Q9Nx16LYA+2almau7bjwghgAA2vtNMh9WFjNF8PibkB6gR6VGEBn/bP4p2DyyXmvD5LWVCnevlgBVPQydYTUEZZdWIf7OAP5gkoo+z1A13dEL5Sok6oD7KgKyymhE6UPQEa/x+hPfgeyQAAAABJRU5ErkJggg==) right center no-repeat transparent;
background-size : 100% 100%;
}
.ban {
text-align : center;
padding : 2px;
}

.round-panel {
    height: 34px;
    margin-top: 1px;
    background: #2E2E2E;
    color: #d2d2d2;
    text-shadow: #2d2d2d -1px -1px 0;
    border: #808080 solid 1px;
}

.headzag {
    background: #43493C;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.headzag {
    background: #43493C;
    background: linear-gradient(to top,#43493C,#3A4132);
    border-top: #434242 solid 1px;
    border-bottom: #090909 solid 1px;
}
