<div class="menu">
    <center>
        <form action="?auth" method="post">
            Логин:<br/>
            <input type="text" name="login" required><br/>
            Пароль:<br/>
            <input type="password" name="password" required><br/>
            <input type="submit" name="auth" value="Войти">
        </form>
    </center>
</div>