<center>
    <div class="menu"><br/>
        <form action="?send" method="post">
            <textarea name="message" required></textarea><br/>
            <input type="submit" name="send" value="Отправить">
        </form> <br/>
    </div>
</center>
<? if($k_post > 0): ?>
<? foreach($all as $row): ?>
<div class="home">
    <?=user($row['user_id'],"login")?> | <small><?=date("d:m:y в H:i:s",$row['time'])?></small><br/>
    <?=$row['message']?>
</div>
<? endforeach; ?>
<? else: ?>
<div class="text">Нет сообщений!</div>
<? endif; ?>
<? if($k_page > 1): ?>
<? echo str('?',$k_page,$page)?>
<? endif; ?>