<div class="menu">Вы действительно хотите выйти?</div>
<div class="forlink"><a href="?yes" class="links"><img src="/style/images/9.png" alt="" /> Да</a></div>
<div class="forlink"><a href="?no" class="links"><img src="/style/images/9.png" alt="" /> Нет</a></div>