<div class="menu">
    <a href="/arena"><img src="/style/images/ico/1.png" alt="-" /><br /> Арена</a>
    <a href="/shop"><img src="/style/images/ico/2.png" alt="-" /><br /> Торговец</a>
    <a href="/raids"><img src="/style/images/ico/3.png" alt="-" /><br /> Рейды</a>
</div>
<div class="title"><a class="arrow-ads" href="/profile">Профиль</a></div>
<div class="title"><a class="arrow-ads" href="/chat">Чат выживших</a></div>
<? if ($user['save'] == 0):?>
<div class="title"><a class="arrow-ads" href="/save">Сохраниться</a></div>
<? endif;?>
