<? switch($_GET['case']): ?>
<? default: ?>
<? foreach($locations as $row): ?>
<div class="title"><a class="arrow-ads" href="/pve/location?id=<?=$row['id']?>"><?=$row['name']?></a></div>
<? endforeach; ?>
<? break; ?>
<? case 'location': ?>
<? foreach($mobs as $row): ?>
<div class="title"><a class="arrow-ads" href="/pve/battle?id=<?=$row['id']?>&attack">Атаковать <?=$row['name']?></a></div>
<? endforeach; ?>
<? break;?>
<? case 'battle': ?>
dsa
<? break;?>
<? endswitch; ?>