<center>
    <div class="menu">
        <form action="?save" method="post">
            Имя:<br/>
            <input type="text" name="login" required><br/>
            Пароль:<br/>
            <input type="password" name="password" required><br/>
            Электронный адрес:<br/>
            <input type="email" name="email" required><br/>
            Пол:<br/>
            <select name="sex">
                <option value="m">Мужской</option>
                <option value="w">Женский</option>
            </select><br/>
            <input type="submit" name="save" value="Сохраниться">
        </form>
    </div>
</center>